/* Reset básico para eliminar margens e espaçamentos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-bottom: 60px; /* Espaço extra para o rodapé fixo */
}

header {
    text-align: center;
    background-color: #065e28;
    color: white;
    padding: 20px;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

article {
    margin-bottom: 30px;
}

article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    background-color: #074e1f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
}

nav a:hover {
    background-color: #0bac25;
}

footer {
    background: #044b10;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
