/* Adiciona uma borda em torno do conteúdo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    border: 5px solid #ddd; /* Borda em volta da página */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Alinha o conteúdo centralizado */
header {
    text-align: center;
    background-color: #093d0b;
    color: white;
    padding: 20px;
}

main {
    flex: 1; /* Faz com que o conteúdo principal ocupe o espaço disponível */
    padding: 20px;
    margin-bottom: 80px; /* Espaço para garantir que o rodapé não sobreponha */
}

/* Estilo das imagens dentro de uma caixa */
img {
    border: 3px solid #ddd;
    padding: 10px;
    margin: 10px auto;
    display: block;
    max-width: 100%;
}

/* Estilo para o botão */
nav a {
    text-decoration: none;
    background-color: #033b16;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

nav a:hover {
    background-color: #033f1c;
}

/* Rodapé fixo ajustado */
footer {
    background: #023b0a;
    color: white;
    text-align: center;
    padding: 5px 0; /* Reduzido para deixar o rodapé mais fino */
    position: relative; /* Ajusta a posição para não sobrepor o conteúdo */
    width: 100%;
    bottom: 0;
    font-size: 0.9rem; /* Fonte menor para economizar espaço */
    z-index: 5;
}
